@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Palatino, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  font:14px/1.5 Palatino, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style:italic;
  color:#990000;/* #610B0B; */
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:20px 0 20px 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:36px;
}

h2 {
  font-size:24px;
}

h3 {
  margin:15px 0px 5px 15px;
  font-size:16px;
  font-style:normal;
  color:#404040;
  background-color:#D0D0D0;
  width:1010px;
}

h4, h5, h6 {
  font-size:16px;
  font-style:normal;
  color:#494949;
}

a:link {
    color:#08298A;
    text-decoration:none;
}

a:visited {
    color:#084B8A;
    text-decoration:none;
}

a:hover {
   color:#610B0B;
   text-decoration:underline overline;
}

table {
  width:960px;
  margin-left: auto;
  margin-right: auto;
  border-collapse:collapse;
}

th, td {
  text-align: center;
  padding:5px 5px;
  font-size: 24px;
  line-height:1.1;
  font: Palatino, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style:italic;
  color:#990000;/* #610B0B; */
  /* margin:0 0 20px; */
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

img {
  width:270px;
  float:left;
  margin: 5px 5px 5px 5px;
  border: .5px solid #D0D0D0;/* #08298A; */
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

